<%- include('include/header') %>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All Experiences</a>
            </div>
         </div>
         <div class="form-title text-center">
             <h2 class="text-dark">Add Your Interview Experience:)</h2>
             <span class="text-light">Use this form to add your experience</span>
         </div>

         <%- include('include/form') %>
    </div>
</main>

<%- include('include/footer') %>